
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Gabarito&family=Roboto:ital,wght@0,500;1,100;1,300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(180deg,#074354 0%,#2f8080 100%);
}
.heading{
  color:rgb(255, 255, 255);
  font-size: 40px;
  font-family:Agbalumo ;
  padding-left: 50px;
  height: 60px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
